/*  your css code here. If applicable */
.container{
	border: 2px solid black;
	width:300px;
	height:400px;
	background-color:lightblue;
	position:relative;
	top:100px;
	left:200px;
}
.text{
	color:darkviolet;
	font-size:30px;
	position:absolute;
	top:180px;
	left:60px;
}