/*  your css code here. If applicable */
.container{
	border: 2px solid black;
	width:200px;
	height:200px;
	background-color:lightblue;
	position:relative;
	align-items:center;
	justify-content: center;
}
.text{
	color:darkviolet;
	font-size:30px;
	position:absolute;
	align-items: center;
	justify-content:center;
}